html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: azure;
    width: 100%;
    height: 100%;
    color: slategray;
}

h1 {
    margin: 0;
    font-weight: 300;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 65px;
    background-color: darkslategray;
    color: white;
    overflow: hidden;
    z-index: 10;
    text-align: center;
}

#navico {
    margin-top: 5px;
}

#wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#login-menu, #main-menu {
    display: none;
    position: relative;
    top: 65%;
    width: 100%;
    text-align: center;
}

#login-menu a, #main-menu a {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 1.8;
}

#main-menu {
    top: 12%;
}

#content-login {
    text-align: center;
    padding-top: 12%;
}

#login-box {
    display: inline-block;
    text-align: center;
    padding: 30px;
    background-color: darkslategrey;
    border-radius: 10px;
    color: white;
}

td, th {
    width: 7%;
    height: 20px;
    text-align: center;
    border-bottom: 1px solid lightblue;
}

#add-form {
    display: none;
}