html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: white;
    width: 100%;
    height: 100%;
    color: dimgrey;
}

h1 {
    margin: 0;
    font-weight: 300;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 65px;
    background-color: #13395a;
    color: white;
    overflow: hidden;
    z-index: 10;
    text-align: center;
}

#navico {
    position: relative;
    top: 5px;
}

#logo {
    position: relative;
    display: none;
    top: 8%;
}

#wrapper {
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#login-menu, #main-menu {
    display: none;
    position: relative;
    top: 60%;
    width: 100%;
    text-align: center;
}

#login-menu a, #main-menu a {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 1.8;
}

#main-menu {
    top: 12%;
}

#content-login {
    text-align: center;
    padding-top: 12%;
}

#login-box {
    display: inline-block;
    text-align: center;
    padding: 30px;
    background-color: darkslategrey;
    border-radius: 10px;
    color: white;
}

#add-form {
    /*display: none;*/
    float: left;
}

#edit-form {
    display: none;
}

#title-name {
    margin-top: 35px;
    float: left;
    width: 30%;
}

#title-info {
    margin-top: 37px;
    float: right;
    width: 25%;
}

h1 {
    font-size: 55px;
    font-weight: 300;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

hr {
    opacity: 0.2;
}

p {
    font-size: 20px;
}

.clear {
    clear: both;
}

#show-form {
    float: left;
    margin-left: 20px;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

table#search-table-form td, table#add-table-form td {
    text-align: left;
}

table#search-table-form, table#add-table-form {
    margin-left: 10px;
    border-spacing: 5px;
}

input[type=time] {
    width: 78.5px;
}

.bth {
    border: none;
    background-color: #13395a;
    color: white;
    padding: 4px 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
}

.bth:hover {
    background-color: #124869;
}
.bth:active {
    position: relative;
    top: 1px;
    left: 1px;
}

table#entriesTable {

}