<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META -->
    <title>LOGIN PAGE</title>
    <meta charset="UTF-8">

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">
</head>
<body>
    <h1>HOME PAGE</h1>
</body>
</html>