<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- META -->
    <title>LOGIN PAGE</title>
    <meta charset="UTF-8">

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.css" th:href="@{font/font-awesome-4.6.3/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">
</head>
<body>
    <div id="sidebar">
        <i id="navico" class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </div>
    <h1>HOME PAGE</h1>
    <div>
        <a href="login.html" th:href="@{/login}">LOGIN</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">LOGOUT</a>
    </div>
</body>
</html>