<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- META -->
    <title>HOME PAGE</title>
    <meta charset="UTF-8">

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.css" th:href="@{font/font-awesome-4.6.3/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">

    <!-- SCRIPT -->
    <script src="../../script/jquery-3.1.0.min.js" th:src="@{script/jquery-3.1.0.min.js}"></script>
    <script src="../../script/sidebar.js" th:src="@{script/sidebar.js}"></script>

</head>
<body>

    <div id="sidebar">
        <i id="navico" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>

        <div id="main-menu">
            <a sec:authorize="isAuthenticated()" th:href="@{/timesheet}">TIMESHEET</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/manage}">MANAGE</a>
        </div>

        <div id="login-menu">
            <a sec:authorize="isAnonymous()" th:href="@{/login}">LOGIN</a>
            <a sec:authorize="isAnonymous()" th:href="@{/register}">REGISTER</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <div id="wrapper">
        <h1>TIMESHEET HOME PAGE</h1>
    </div>

</body>
</html>