<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- META -->
    <title>LOGIN PAGE</title>
    <meta charset="UTF-8">

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.css" th:href="@{font/font-awesome-4.6.3/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">

    <!-- SCRIPT -->
    <script src="../../script/jquery-3.1.0.min.js"></script>
    <script src="../../script/sidebar.js"></script>
    <script src="../../script/manage.js"></script>
    <script src="../../script/time.js"></script>

</head>
<body onload="startTime()">

    <div id="sidebar">
        <i id="navico" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>

        <div id="logo">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            <div id="clock"></div>
        </div>

        <div id="main-menu">
            <a sec:authorize="isAuthenticated()" th:href="@{/}">HOME</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/timesheet}">TIMESHEET</a>
        </div>

        <div id="login-menu">
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <div id="wrapper">
        <div id="title-name">
            <h1>MANAGE</h1>
        </div>
        <div id="title-info" sec:authorize="isAuthenticated()">
            <p><i class="fa fa-user" aria-hidden="true"></i>
                Hello <span sec:authentication="name">user</span>! <span sec:authentication="authorities">auth</span></p>
            <div id="clock2"></div>
        </div>
        <div class="clear"></div>

        <hr>

        <div id="main-panel">
            <div id="users-button" onclick="users()" class="box"><i class="fa fa-user" aria-hidden="true"></i><p>USERS</p></div>
            <div id="entries-button" onclick="entries()" class="box"><i class="fa fa-check" aria-hidden="true"></i><p>ENTRIES</p></div>
            <div id="departments-button" onclick="departments()" class="box"><i class="fa fa-building" aria-hidden="true"></i><p>DEPART</p></div>
        </div>

        <hr>

        <div id="content">
            <form id="search-box">
                <table class="formtable">
                    <tr>
                        <td><input type="search" id="search-text"></td>
                        <td><button type="button" class="bth" style="margin-top: 0;" onclick="search()"><i class="fa fa-search" aria-hidden="true"></i> SEARCH</button></td>
                    </tr>
                </table>
            </form>

            <table style="display: none;" id="usersTable" class="content-table">
                <thead>
                    <tr>
                        <th>USERNAME</th>
                        <th>ENABLE</th>
                        <th>ROLE_NAME</th>
                        <th>DEPARTMENT_NAME</th>
                    </tr>
                </thead>
            </table>
            <table style="display: none;" id="entriesTable" class="content-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>START_TIME</th>
                    <th>END_TIME</th>
                    <th>TIME</th>
                    <th>APPROVE</th>
                    <th>USERNAME</th>
                    <th><button type="button" onclick="approveAll()">ALL <i class="fa fa-check" aria-hidden="true"></i></button></th>
                </tr>
                </thead>
            </table>
            <div id="departmentsList"></div>
        </div>

        <form id="entries-form">
            <h3><i class="fa fa-search" aria-hidden="true"></i> SEARCH ENTRIES </h3>
            <table class="formtable">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>DATA_START: </td>
                    <td colspan="2"><input type="date" id="entries-form-date-start"></td>
                </tr>
                <tr>
                    <td>DATA_END: </td>
                    <td colspan="2"><input type="date" id="entries-form-date-end"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <input type="submit" class="bth" id="entries-form-submit" value="SEARCH">
                        <input type="button" class="bth" onclick="hideEntriesForm()" value="CANCEL">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>

</body>
</html>