<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- META -->
    <title>REGISTER PAGE</title>
    <meta charset="UTF-8">

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">

</head>
<body onload="document.f.username.focus()">





<div id="content-login">
    <div id="login-box">
        <h1>REGISTER</h1>
        <form class="formtable" name="f" th:action="@{/register}" th:object="${user}" method="POST">
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>USERNAME: </td>
                        <td><input type="text" th:field="*{username}" name="username" required="required" value=""></td>
                    </tr>
                <tr>
                    <td>PASSWORD: </td>
                    <td><input type="password" th:field="*{password}" name="password" required="required" value=""></td>
                </tr>
                <tr>
                    <td>CONFIRM PASSWORD: </td>
                    <td><input type="password" th:field="*{matchingPassword}" name="password" required="required" value=""></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><input class="bth" name="submit" type="submit" value="REGISTER"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</body>
</html>