<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <!-- META -->
    <title>TIMESHEET</title>
    <meta charset="UTF-8"/>

    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="../../css/normalize.css" th:href="@{css/normalize.css}">
    <link type="text/css" rel="stylesheet" href="../../font/font-awesome-4.6.3/css/font-awesome.css" th:href="@{font/font-awesome-4.6.3/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" href="../../css/style.css" th:href="@{css/style.css}">

    <!-- SCRIPT -->
    <script src="../../script/jquery-3.1.0.min.js"></script>
    <script src="../../script/sidebar.js"></script>
    <script src="../../script/timesheet.js"></script>
    <script src="../../script/time.js"></script>

</head>
<body onload="startTime()">

    <div id="sidebar">
        <i id="navico" class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>

        <div id="logo">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
            <div id="clock"></div>
        </div>

        <div id="main-menu">
            <a sec:authorize="isAuthenticated()" th:href="@{/}">HOME</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/manage}">MANAGE</a>
        </div>

        <div id="login-menu">
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
        </div>
    </div>

    <div id="wrapper">
        <div id="title-name">
            <h1>TIMESHEET</h1>
        </div>
        <div id="title-info" sec:authorize="isAuthenticated()">
            <p><i class="fa fa-user" aria-hidden="true"></i>
                 Hello <span sec:authentication="name">user</span>! <span sec:authentication="authorities">auth</span></p>
            <div id="clock2"></div>
        </div>

        <div class="clear"></div>

        <hr>

        <form id="show-form">
            <h3><i class="fa fa-search" aria-hidden="true"></i> SEARCH ENTRIES</h3>
            <table class="formtable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>DATE START: </td>
                        <td><input type="date" id="data-start"></td>
                    </tr>
                    <tr>
                        <td>DATE END: </td>
                        <td><input type="date" id="data-end"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><button id="btn-search" type="submit" class="bth">SEARCH</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <form id="add-form">
            <h3><i class="fa fa-plus" aria-hidden="true"></i> ADD ENTRY</h3>
            <table class="formtable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>DATE: </td>
                        <td colspan="2"><input type="date" id="add-form-date"></td>
                    </tr>
                    <tr>
                        <td>TIME: </td>
                        <td>
                            <input type="time" id="add-form-time-start" value="08:00">
                            <input type="time" id="add-form-time-end" value="16:00">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;"><input class="bth" type="submit" id="add-form-submit" value="ADD"></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <div class="clear"></div>

        <hr>

        <table id="entriesTable" class="content-table">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>START_TIME</th>
                    <th>END_TIME</th>
                    <th>TIME</th>
                    <th>APPROVE</th>
                    <th>USERNAME</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <hr>

        <form id="edit-form">
            <h3><i class="fa fa-pencil" aria-hidden="true"></i> EDIT ENTRY </h3>
            <table class="formtable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>DATA: </td>
                        <td colspan="2"><input type="date" id="edit-form-date"></td>
                    </tr>
                    <tr>
                        <td>TIME: </td>
                        <td>
                            <input type="time" id="edit-form-time-start" value="">
                            <input type="time" id="edit-form-time-end" value="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center">
                            <input type="submit" class="bth" id="edit-form-submit" value="EDIT">
                            <input type="button" class="bth" onclick="hideEditForm()" value="CANCEL">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>

</body>
</html>